.side_bar

  .side_header
    .side_header__box
      .side_header__box__user_name
        = current_user.name
      .side_header__box__icon
        = link_to new_group_path, class: "side_header__box__icon" do
          = icon("fas fa-edit", class: "")
          %span<>
        = link_to edit_user_path(current_user), class: "side_header__box__icon" do
          = icon("fa fa-cog", class: "")
          %span<>

  .side_groups_list
    - current_user.groups.each do |group|
      .side_groups_list__box
        = link_to group_messages_path(group) do
          .side_groups_list__box__group_name
            = group.name
          .side_groups_list__box__info
            = group.show_last_message